*{ margin: 0px;
   padding: 0px;
}

.common-btn{
color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;
border: 0px;
padding: 20px 43px;
}
 

body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

/* nav section */

.nav-container{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 190px 0px 0px 240px;
    gap: 90px;
    
}

.nav-tital{
color: #272727;
font-size: 70px;
font-weight: 700;
padding-bottom: 30px;
} 

.nav-info{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-bottom: 30px;

}

.nav-img{
width: 635px;
height: 800px;
padding-right: 150px;

}
/* main section flower item */

.item-section{
   text-align: center; 
   margin-top: 180px;
}
.item-section-tital{
 color: #272727;
font-size: 40px;
font-weight: 700;

}
.item-section-info{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-top: 25px;
}
/* flower */
 .flower-section{
     display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;
    
} 
.pink-tulips{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding-top: 110px;



}
.variety-flower{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding-top: 50px;
padding-bottom: 117px;


}
.yellow-tulips{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding-top: 65px;


}

.flower-tree{
text-align: center;
text-decoration-line: underline;
color: #272727;
font-size: 20px;
margin-top: 30px;
}

/* service section */

.service-container{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin:130px 240px 0px 240px ;
    align-items: center;

}
.service-icon{
    width: 85px;
    height: 85px;
    padding: 0px 200px 0px 200px;
}

    

.service-tital{
    color: rgba(39, 39, 39, 0.80);
    font-size: 13px;
    margin-top: 25px;
    text-align: center;
}
/* hot deal section */
.hot-deal{
display: flex;
width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
align-items: center;
margin-top: 130px;
gap:250px ;
text-align: center;
}

.hot-deal-container{
padding-left: 450px;
}
.hot-deal-tital{
color: #272727;
font-size: 40px;
font-weight: 700;

}
span{
    color:#E55473 ;
}
.hot-deal-info{
color: rgba(39, 39, 39, 0.60);
font-size: 13px;
font-weight: 400;
line-height: 30px;
padding-top: 25px;
padding-bottom: 30px;

}
.hot-deal-img{
    width: 318px;
height: 420px;

}
/* insta flower section */
.insta{
    background: #FFF;
}
.insta-flower-tital{
color: #272727;
font-size: 40px;
font-weight: 600;
margin-top: 130px;

}
.insta-flower{
    text-align: center;
}
.insta-flower-info{
color: rgba(39, 39, 39, 0.60);
font-size: 13px;
font-weight: 400;
line-height: 30px;
margin-top: 25px;
}
.all-insta-flower{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 50px 240px 0px 240px;

    

}
/* latest deal section */
.latest-deal{
    text-align: center;
    margin: 130px 230px 0px 230px;
    background: url('./Flower Asset/Rectangle 9.png');
    border-radius: 8px;
    width: 1440px;
    height: 449px;


}
.latest-deal-container{
    padding: 122px 500px 0px 500px;

}
.latest-deal-tital{
color: #272727;
font-size: 40px;
font-weight: 700;
padding-bottom: 10px;
}
.latest-deal-info{
color: rgba(39, 39, 39, 0.60);
font-size: 13px;
font-weight: 400;

}
.main-field{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 15px;

}
.input-field{
    padding: 25px 480px 25px 25px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}



